*{
    margin: 0;
    padding: 0;

    font-family: "UD Digi Kyokasho N-B", sans-serif  ;

}


@keyframes limitedWHEN {
    0% {
        color: rgba(255, 0, 0, 0.51);
        text-shadow:  rgba(255, 0, 0, 0.51) 1px 0 20px;

    }
    25% {
        color: rgb(0, 255, 0,.8);
        text-shadow:  rgb(0, 255, 0,.8) 1px 0 20px;

    }
    50% {
        color: rgb(0, 0, 255,.8);
        text-shadow:   rgb(0, 0, 255,.8) 1px 0 20px;

    }
    75% {
        color: rgb(255, 255, 0,.8);
        text-shadow:  rgb(255, 255, 0,.8) 1px 0 20px;

    }
    100% {
        color: rgb(255, 0, 255,.8);
        text-shadow:  rgb(255, 0, 255,.8) 1px 0 20px;

    }
}

#b-when{
    animation: limitedWHEN 5s infinite ease-in-out;
}

@keyframes MioneTitleShiny {
    0%{
        color: #fb9fbc;

    }
    50%{
        color: #ffcbe2;

    }
    100%{
        color: #fb9fbc;
    }
}


@keyframes MionePissShiny {
    0%{
        color: #ffbcd6;

    }
    50%{
        color: #fb9fbc;

    }
    100%{
        color: #ffbcd6;
    }
}

@keyframes Shake {
    0%{
        rotate: .6deg;
    }
    12%{
        rotate: .2deg;
    }
    25%{
        rotate: 0deg;

    }
    37%{
        rotate: -.2deg;
    }
    50%{
        rotate: -.6deg;
    }
    62%{
        rotate: -.2deg;
    }
    74%{
        rotate: 0deg;

    }
    86%{
        rotate: .2deg;
    }
    100%{
        rotate: .6deg;
    }
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgba(166, 166, 166, 0.52);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(170, 170, 170, 0.72);
}

*::selection{
    background: #e794b0;
    color: #fff;
}

body{
    background-color: #251522;
}

#topBar{
    box-shadow: rgba(255, 67, 115, 0.21) 1px 0 20px;

    position: fixed;
    background-color: rgba(21, 21, 21, 0.65);
    top: 0;
    width: 100%;
    height: 50px;

    backdrop-filter: blur(10px);
    border-bottom: rgba(255, 149, 227, 0.24) 2px solid;

    display: flex;
    justify-content: center;

    z-index: 9898;
}

@keyframes toBeShine {
    from{
        color: rgba(255, 255, 255, 0.64);
        text-shadow: rgba(255, 255, 255, 0.44) 1px 0 20px;

    }
    to{
        color:#ffffff;
        text-shadow: #ffffff 1px 0 20px;

    }

}

@keyframes toBeShineIMG{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}


#b-mione{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
}
#b-mione:hover{
    animation: toBeShineIMG .3s;
    animation-fill-mode: forwards;

}


.topButton{
    cursor: pointer;
    width: auto;
    height: 50px;

    background: rgba(255, 255, 255, 0);
    border: none;

    margin-left: 20px;

    padding: 10px;

    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    text-shadow: #ffffff 1px 0 20px;

}
.topButton:hover{
    animation: toBeShine .3s;
    animation-fill-mode: forwards;

}

#main{

    background: linear-gradient(180deg, #ba3a67, #251522);


}

#page1{
    padding-top: 100px;
    padding-bottom: 100px;

    width: 100%;
    height: auto;


}

#MioneTitle{
    font-size: 200px;
    font-weight: lighter;
    text-shadow: #ffbcd6 1px 0 20px;

    animation: MioneTitleShiny 5s infinite ease-in-out;

    color: #ffcbe2;
}

#MionePiss{
    font-size: 35px;
    font-weight: lighter;
    text-shadow: #ffbcd6 1px 0 20px;

    animation: MionePissShiny 1s infinite ease-in-out;

    color: #bb819e;
}
.MioneCase{
    display: flex;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: auto;
}



#page2{
    padding-top: 100px;
    padding-bottom: 100px;


    display: flex;
    align-content: center;
    justify-content: center;
}


.CodeLand{
    width: 600px;
    height: auto;
    background: linear-gradient(180deg, #251522, #231525);
    border-radius: 23px;

    padding: 20px;

    box-shadow: 0 0 10px #251522;

    animation: Shake 10s infinite ease-in-out;
}

.title{
    font-size : 50px;
    font-weight: lighter;
    text-shadow: #ffbcd6 1px 0 20px;

    color: #f8a8ca;
}

.piss{
    font-size : 20px;
    font-weight: lighter;
    text-shadow: #d7789b 1px 0 20px;

    color: #d7789b;
}

.CodeTitleCase{
    display: flex;
    align-content: center;
    justify-content: center;

    padding-top: 12px;
}
.CodePissCase{
    display: flex;
    align-content: center;
    justify-content: center;

    padding-bottom: 32px;
}

.CodeCase{
    width: auto;
    padding-left: 10px;
}

.CodeExample{
    border-radius: 23px;
    background: linear-gradient(180deg, #10090f, #000000);
    padding: 20px;
    box-shadow: 0 0 10px black;


}

.CodeLine{
    display: flex;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;

}