*{
    margin: 0;
    padding: 0;

    font-family: "UD Digi Kyokasho N-B";
}

*::selection{
    background: #e794b0;
    color: #fff;
}

body{
    background-color: #251522;
}

#topBar{
    position: sticky;
    background-color: rgba(21, 21, 21, 0.25);
    top: 0;
    width: 100%;
    height: 50px;

    backdrop-filter: blur(10px);
    border-bottom: rgba(255, 149, 227, 0.24) 2px solid;

    display: flex;
    justify-content: center;

    z-index: 9898;
}

@keyframes toBeShine {
    from{
        color: rgba(255, 255, 255, 0.64);
        text-shadow: rgba(255, 255, 255, 0.44) 1px 0 20px;

    }
    to{
        color:#ffffff;
        text-shadow: #ffffff 1px 0 20px;

    }

}

@keyframes toBeShineIMG{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}

#b-mione{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
}
#b-mione:hover{
    animation: toBeShineIMG .3s;
    animation-fill-mode: forwards;

}

.topButton{
    cursor: pointer;
    width: auto;
    height: 50px;

    background: rgba(255, 255, 255, 0);
    border: none;

    margin-left: 20px;

    padding: 10px;

    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    text-shadow: #ffffff 1px 0 20px;

}
.topButton:hover{
    animation: toBeShine .3s;
    animation-fill-mode: forwards;

}

#main{

    background: linear-gradient(180deg, #ba3a67, #251522);


}